.Allowances-Deduction-container {
  border: 2px solid #64919e;
  border-radius: 8px;
  padding: 20px;
  background-color: #f1f4f5;
  height: 440px;
  min-width: 395px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}


.A-d-heading {
  color: #005f73;
  font-weight: 900;
  font-size: 20px;
  margin: 0;
  padding: 5px;
}

.chart-container {
  position: relative;
  width: 100%;
  max-width: 220px;
  height: 190px;
  margin: 0 auto ;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 0.9rem;
  color: #333;
  line-height: 1.2;
  text-align: center;
}

.legend {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 0 6px;
}

.legend-color {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 4px;
}

.more-details-button {
  padding: 2px 4px;
  border: none;
  border-radius: 4px;
  background-color: #64919e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.more-details-button:hover {
  background-color: #527b87;
}



/* Responsive Adjustments */
@media (max-width: 1590px) {
  .Allowances-Deduction-container {
    left: 300px;
    height: 420px;
    min-width: 393px;
    max-width: 400px;  
  }
  .heading {
      font-size: 0.95rem;
  }
  .chart-container {
      max-width: 300px;
      height: 130px;

  }
  .more-details-button{
    padding: 10px;
    width: 120px;
    /* margin-left: 100px; */
  }
}
@media (max-width: 1500px) {
  .Allowances-Deduction-container {
    /* margin-left:13px; */
    height: 420px;
    min-width: 370px;
  }
  .heading {
      font-size: 0.95rem;
  }
  .chart-container {
      max-width: 300px;
      height: 130px;

  }
  .more-details-button{
    padding: 10px;
    width: 120px;
    /* margin-left: 70px; */
  }
}
@media (max-width: 1300px) {
  .Allowances-Deduction-container {
    /* margin-left:13px; */
    height: 420px;
    min-width: 310px;
  }
  .heading {
      font-size: 0.95rem;
  }
  .chart-container {
      max-width: 300px;
      height: 130px;

  }
  .more-details-button{
    padding: 10px;
    width: 120px;
    /* margin-left: 70px; */
  }
}
@media (max-width: 1200px) {
  .Allowances-Deduction-container {
    height: 420px;
    min-width: 320px;
    max-width: 430px;  
   
  }
  .heading {
      font-size: 2px;
  }
  .chart-container {
      max-width: 140px;
      height: 140px;
  }
  .more-details-button{
    padding: 10px;
    width: 120px;
    /* margin-left: 110px; */
  }
}




@media (max-width: 900px) {
  .Allowances-Deduction-container {
      min-width: 130px;
      padding: 8px 15px;
  }
  .heading {
      font-size: 0.9rem;
  }
}
























@media (max-width: 768px) {
  .Allowances-Deduction-container {
      padding: 8px 10px;
      min-width: 220px;
      margin-left: 10px;
  }
  .heading {
      font-size: 20px;
  }
  .chart-container {
      min-width: 390px;
      height: 220px;
  }
  .more-details-button {
    padding: 2px 10px;
    font-size: 0.8rem;
    /* margin-left: 160px; */
}
}

@media (max-width: 576px) {
  .Allowances-Deduction-container {
    min-width: 230px; /* Adjusted min-width for flexibility */
    /* max-width: 280px; */
    padding: 10px;
    margin-left: 10px;
    height: 300px;
  }
  .heading {
      font-size: 10px;
  }
  .chart-container {
      max-width: 220px;
      height: 140px;
      margin-left:2px;
  }
  .legend {
      flex-direction: row;
      align-items: center;
      
  }
  .more-details-button {
      padding: 10px 20px;
      font-size: 10px;
      /* margin-left: 150px; */
  }
}
@media (max-width: 480px) {
  .Allowances-Deduction-container {
    min-width: 320px; /* Adjusted min-width for flexibility */
    /* max-width: 280px; */
    padding: 20px;
    margin-left: 2px;
    height: 300px;
  }
  .heading {
      font-size: 10px;
  }
  .chart-container {
      max-width: 220px;
      height: 120px;
      margin-left: -50px;
  }
  .legend {
      flex-direction: row;
      align-items: center;
      
  }
  .more-details-button {
      padding: 10px 20px;
      font-size: 10px;
      /* margin-left: 150px; */
  }
}
