/* employee.css */

.stats-dashboard {
  display: flex;
  gap: 10px; 
  margin-top: 20px;
  position: relative;
  top: 60px;
  left: 200px;
  width: 80%;
  flex-wrap: wrap; /* Enable wrapping for responsive design */
}

.stat-box {
  background-color: #f1f4f5;
  border: 2px solid #64919e;
  border-radius: 12px;
  padding: 5px;
  flex: 1 1 30%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.stat-box:hover {
  transform: translateY(-8px); /* Lift on hover */
  border-color: #64919e;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

.stat-box h2 {
  font-size: 1.4rem;
  font-weight: 900;
  color: #005f73;
  margin-bottom: 8px;
}

.stat-description {
  font-size: 0.8rem;
  font-weight: 500;
  color: #333;
}

.stat-count {
  font-size: 1.7rem;
  font-weight: 500;
  color: #333;
}



/* Responsive adjustments */
@media (max-width: 1024px) {
  .stats-dashboard {
    left: 200px;
    width:75%;
  }

  .stat-box {
    flex: 1 1 20%; /* Adjust width on medium screens */
    left:20px;
    padding:20px;
  }
}
@media (max-width: 992px) {
  .stats-dashboard {
    left: 220px;
    width: 70%;
  }

  .stat-box {
    flex: 1 1 30%; /* Adjust width on medium screens */
    left:20px;
    padding:20px;
  }
  .stat-description{
    font-size: 10px;
  }
}

@media (max-width: 900px) {
  .stats-dashboard {
    left: 190px;
    width: 70%;
  }

  .stat-box {
    flex: 1 1 20%; /* Adjust width on medium screens */
    left:20px;
    padding:20px;
  }
}

@media (max-width: 800px) {
  .stats-dashboard {
    left: 180px;
    width: 70%;
  }

  .stat-box {
    flex: 1 1 20%; /* Adjust width on medium screens */
    left:20px;
    padding:20px;
  }
  .stat-box h2{
    font-size: 15px;
  }
  .stat-description{
    font-size: 9px;
  }
}


@media (max-width: 768px) {
  .stats-dashboard {
    left: 100px;
    width: 80%;
  }

  .stat-box, .additional-widget {
    flex: 1 1 30%; /* Full width on small screens */
  }
  .stat-description{
    font-size: 10px;
  }
  .stat-box h2{
    font-size: 15px;
  }
 
}

@media (max-width: 576px) {
  .stats-dashboard {
    left: 90px;
    width: 80%;
  }

  .stat-box, .additional-widget {
    flex: 1 1 20%; /* Full width on small screens */
  }
  .stat-description{
    font-size: 10px;
  }
  .stat-box h2{
    font-size: 15px;
    text-align:start;
  }

  .stat-count{
   font-size: 20px;    
  }
  .paid_salary{
     padding-top:20px ;
  }
}
@media (max-width: 480px) {
  .stats-dashboard {
    left: 120px;
    width: 90%;
  }

  .stat-box, .additional-widget {
    flex: 1 1 20%; /* Full width on small screens */
  }
  .stat-description{
    font-size: 10px;
    text-align: center;
  }
  .stat-box h2{
    font-size: 12px;
    text-align:start;
  }

  .stat-count{
   font-size: 20px;    
  }
  .paid_salary{
     padding-top:20px ;
  }
}



.components-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.components-container > div {
  flex: 1 1 25%; /* Default to three per row */
}

@media (max-width: 768px) {
  .components-container > div {
    flex: 1 1 45%; /* Stack to two per row */
  }
}

@media (max-width: 576px) {
  .components-container > div {
    flex: 1 1 100%; /* Stack to single column */
  }
}
@media (max-width: 480px) {
  .components-container > div {
    flex: 1 1 100%; /* Stack to single column */
  }
}


