.department-list-container {
  padding: 20px;
  position: fixed;
  top: 90px;
  left: 190px;
  border: 2px solid #008CBA;
  width: 85%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.department-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.department-table th, .department-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.department-table th {
  background-color: #f4f4f4;
}

.department-actions {
  display: flex;
  gap: 10px;
}

.edit-button, .delete-button {
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.edit-button {
  background-color: #4CAF50;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.add-department-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 100%;
}

