/* AttendanceForm.css */
.attendance-form {
  display: flex;
  flex-direction: column;
}

.form-attendance-group {
  margin-bottom: 15px;
}

.attendance-text .attendance-number {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

attendnace-submit {
  padding: 10px;
  background-color: #46919e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

attendnace-submit:hover{
  background-color: #387a84;
}

.error-message {
   color: red;
   font-size: 14px;
   margin-bottom: 0px;
}

.error-input {
  border: 2px solid red;
}