.add-edit-user-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border: 2px solid #008CBA; /* Match the border color */
    margin-top: 80px; /* Match the margin-top */
}

.user_heading  h2 {
    text-align: center;
    margin-bottom: 20px;
}

.user-form-group {
    margin-bottom: 15px;
}

.user-label {
    display: block;
    margin-bottom: 5px;
}

.add-user-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.usererror-message {
    color: red;
    margin-bottom: 10px;
}
.form-actions{
    display: flex;
    justify-content: center;
}
.user-submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%; /* Full width for buttons */
    margin-top: 4px; /* Space above buttons */
    background-color: #0BBCDB; /* Save button color */
    color: white;
    text-align: center;
}

.user-cancel-button {
    background-color: #82a9b0; /* Cancel button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%; /* Full width for buttons */
    margin-top: 4px; /* Space above buttons */
    margin-left:10px;
}
.user-submit-button:hover{
    background-color: #2b6cb0; /* Darker blue on hover */
    transform: translateY(-2px);
}
.user-cancel-button:hover{
    background-color: #c53030;
    transform: translateY(-2px);
}

/* Popup styling */
.userpopup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark background overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the popup is above other content */
}

.userpopup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 600px; /* Match the max-width of department popup */
    width: 100%;
    position: relative;
}

.user-error-input {
    border: 2px solid red;
    background: rgb(234, 0, 0);
}




/* Responsive adjustments */
@media (max-width: 1400px) {
    .user-form-group {
        padding: 10px;
        margin-top: 40px;
        font-size: 0.8rem;
    }

    .user_heading {
        font-size: 1.1rem;
        margin-bottom: 15px;
    }

    .user-label {
        font-size: 0.8rem;
    }

    .add-user-input {
        padding: 8px;
    }

    .user-submit-button, .user-cancel-button {
        padding: 10px 2px;
        font-size: 0.9rem;
        width: 80%;
        margin: 4px 40px;
    }

    .userpopup {
        padding: 10px;
        max-width: 40%; /* Keeps the popup centered within the screen */
        box-shadow: none;
        font-size: 0.8rem;
        left: 100px;

    }
}


@media (max-width: 1024px) {
    .user-form-group {
        padding: 10px;
        margin-top: 40px;
        font-size: 0.8rem;
    }

    .user_heading {
        font-size: 1.1rem;
        margin-bottom: 15px;
    }

    .user-label {
        font-size: 0.8rem;
    }

    .add-user-input {
        padding: 8px;
    }

    .user-submit-button, .user-cancel-button {
        padding: 6px 10px;
        font-size: 0.8rem;
        margin: 4px 40px;
    }

    .userpopup {
        padding: 10px;
        max-width: 50%; /* Keeps the popup centered within the screen */
        box-shadow: none;
        /* align-items: center; */
        font-size: 0.8rem;
        left: 70px;
    }
}

@media (max-width: 768px) {
   

    .userpopup {
        /* padding: 10px; */
        max-width: 50%;
        font-size: 0.9rem;
        left:40px
    }

    .user-submit-button, .user-cancel-button {
        padding: 10px 5px;
        font-size: 0.9rem;
        margin: 4px 30px;
    }
    
   
}
